<h1>ユーザー　一覧</h1>
    <% @users.each do |all| %>
    <div class="col-sm-6">
        <ul>
            <li>id: =><%= all.id %></li>
            <li>name: =><%= all.name %></li>
            <li>email: =><%= all.email %></li>
            <li>profile: =><%= all.profile %></li>
            <li>area: =><%= all.area %></li>
        </ul>
    </div>
    <% end %>
    <%= paginate(@users) %>
 

  

